* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/peakpx.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Press Start 2P", system-ui;
    background-color: black;

}
.container{
    margin-top: 100px;
    
}

img {
    width: 10%;
}

#score{
    background-color: black;
    width: 25%;
    height: 40px;
    padding: 7px;
    margin: auto;
    border: 5px solid orange;
}


nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9150035014005602) 0%, rgba(1, 1, 1, 0.722) 75%, rgba(5, 5, 5, 0.73) 100%);
    color: white;
    box-shadow: 3px 3px 20px 3px white;
}

#square, .bomb {
    border: 2px solid rgba(255, 255, 255, 0.787);
    box-shadow: 2px 2px 12px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 1.5em;
    cursor: crosshair;

}


.bomb {
    content: url(../img/PngItem_2143500.png);
}

.safe {
    background-color: blue;
}

#level {
    background-color: black;
    color: white;
    border: 5px solid orange;
    cursor: pointer;
    width: 14%;
}